<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--控制台输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy‐MM‐dd HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>
    <!--当符合条件时把日志转换成其他文件-->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <springProfile name="dev">
            <File>/jch/logs/message.log</File>
        </springProfile>
        <springProfile name="test">
            <File>D:/logs/message.log</File>
        </springProfile>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/jch/logs/message.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy‐MM‐dd HH:mm:ss.SSS} -‐> [%thread] ‐> %5level%logger{50} ‐ %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <springProfile name="dev">
            <File>/jch/logs/message_error.log</File>
        </springProfile>
        <springProfile name="test">
            <File>D:/logs/message_error.log</File>
        </springProfile>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/jch/logs/messageerror.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="xihe.ji.pet_springboot" additivity="false" level="INFO" >
        <appender-ref ref="info" />
        <appender-ref ref="console"/>
    </logger>

    <logger name="xihe.ji.pet_springboot.dao" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>